.carre1{
    background-color: orange;
    width: 45px;
    height: 45px;
}
.carre2{
    background-color:rgb(167, 150, 150);
}
.carre3{
    background-color: brown;
}
div{
    padding: 15px;
    margin: 1px;
}
.container{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    border: 1px solid black;
    

}
.un{
    background-color:rgb(201, 194, 194);
    width: 45px;
    height: 45px;
}
.deux{
    background-color:rgb(121, 114, 114);
}
.trois{
    background-color:rgb(65, 59, 59);
}
.quatre{
    background-color:rgb(26, 24, 24);
}
div{
    padding: 15px;
    margin: 1px;
}
.noire{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    border: 1px solid black;
    
    

}
.groupe1{
    background-color:white;
    width: 45px;
    height: 45px;
}
.groupe2{
    background-color:rgb(233, 128, 145);
}
.groupe3{
    background-color:rgb(190, 21, 21);
}

div{
    padding: 15px;
    margin: 1px;
}
.rouge{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    border: 1px solid black;
    

}